* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Londrina Shadow', cursive;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background-color: #C8C1D9;
}

h1, h2 {
    padding: 1rem;
    text-align: center;
    color: #2C3340;
    letter-spacing: .3rem;
}

.message {
    font-size: 2.5rem;
    font-weight: 600;
    padding: 1rem;
    color: #2C3340;
    
}

.game-box {
    display: flex;
    flex-direction: column;
    align-items:center;
    padding: 5rem;
    margin: 0 auto;;
    max-width: 80rem;
    background-color: #F2C9CC;
}

.game-area {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 40rem;
    width: 40rem;
    padding: 3rem;
    margin: 2rem;
    box-shadow: 2px 2px 10px #7C8EA6;
    background-color: #F3F3F3;
    
}

.box {
    width: 50%;
    height: 50%;
    color: black;
    text-align: center;
    cursor: pointer;
}

.active {
    border: 1px solid red;
    color: red;
}

button {
    margin: 1rem;
    padding: 1.25rem;
    font-size: 2rem;
    font-weight: 600;
    cursor: pointer;
    background-color: #F3F3F3;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #7C8EA6;
    color: #2C3340;
}

button:focus {
    outline: none;
}

button:hover {
    background-color: #C8C1D9;
    color: #F3F3F3;
}

button:active {
    transform: scale(0.95);
    transition: .2s;
}


